<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/main/aboutCompany.css">
    <title>О компании</title>
</head>
<header th:insert="main/header::headerPlusCss"></header>
<body background="/images/aboutCompany/background.jpg">
<div class="set">
    <article>
        <header>
            <h1 style="color: #ffffff; text-shadow: 1px 1px 1px #000000;" class="u-text u-text-1" align="center" >Имперская мебель</h1>
        </header>
        <div style="color: #ffffff;   font-family: verdana; font-size: 110%; text-indent: 10%;">
            <p>Компания «Imperial Furniture» – это салон стильной и современной корпусной и мягкой мебели для Вашего дома,
                в котором представлены изделия в различных стилях – от авангардного минимализма до традиционной
                классики. Основная задача нашего коллектива – обеспечить покупателей качественной, модной, красивой и
                удобной мебелью для достойного уровня жизни.</p>

            <p>Наша компания – это серьезная и надежная команда специалистов высокого уровня с большим опытом работы в
                сфере продажи мебели. Это позволяет нам осуществлять грамотный анализ продукции на рынке, оценивать ее
                функциональные характеристики, качество, экологичность и надежность. Разумный подход к политике
                ценообразования дает возможность предлагать качественную мебель покупателям с разным уровнем дохода и
                дизайнерскими предпочтениями. В нашем салоне Вы можете приобрести товары для обустройства любой
                территории – квартиры, коттеджа, загородного дома или дачи. Это могут быть как отдельные предметы
                интерьера, так и готовые решения для каждого помещения.</p>

            <p>Вашему вниманию представлены всевозможные варианты мягкой и корпусной мебели для гостиной, спальные
                гарнитуры, кровати и матрасы для оборудования спальни, современные решения для прихожей, гарнитуры и
                корпусная мебель для оформления детской комнаты, кухонные гарнитуры, обеденные группы и стулья для
                кухни. Мы предлагаем различные варианты садовой и спальной мебели для оборудования дачных домов. В нашем
                салоне представлены изделия в различной цветовой гамме с использованием современных отделочных
                материалов для обивки (вельвет, экокожа, рогожка, велюр, замша и т.д.).</p>

            <p>Благодаря большому количеству предложений Вы всегда можете выбрать предметы интерьера, в которых будет
                оптимально сочетаться качество и цена товара. Главная задача всего коллектива – обслуживание наших
                покупателей на самом высоком уровне. Сотрудники компании профессионально проконсультируют Вас по любому
                вопросу. Ассортимент продукции постоянно обновляется. На сайте представлена подробная информация о
                каждом изделии: фотографии, описание, размеры, стоимость. Мы предлагаем удобные для Вас виды оплаты,
                предоставляем возможность приобрести товар в кредит, обеспечиваем быструю доставку купленного товара по
                всей территории страны на выгодных условиях, проводим периодические акции, скидки и
                распродажи.</p>

            <p>Компания «Настоящая мебель» – это продукция высокого качества, которая выполнена в соответствии с
                последними модными направлениями дизайна интерьера. В нашем магазине представлена только
                сертифицированная мебель от крупнейших производителей.</p>
        </div>
    </article>
</div>
</body>
<div th:insert="main/footer::footerPlusCss"></div>
</html>
