<html style="font-size: 16px;" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/order/completed.css">
</head>
<title>Zamówienie gotowe</title>
<header th:insert="main/header::headerPlusCss" ></header>
<div style="background-image: url(/images/createOrder/background.jpg)">
<div  class="card">
    <img th:src="@{/images/mainPage/logoOrder.jpg}" alt="logo" style="width:100%">
    <h1 th:text="${order.getFirstName()} +' ' + ${order.getLastName()}">firstName and lastName</h1>
    <p class="title">Zamówienie pana </p>
    <p th:text="'Numer: ' + ${order.getIdOrder()}">Numer zamówienia</p>
    <a href="/furniture"><p><button>Zamówienie złożone!</button></p></a>
</div>
<div th:insert="main/footer::footerPlusCss"></div>
</html>
</div>